/* LAYOUT */
.dashboard {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4;
}

/* DATE */
.date-bar {
  margin: 20px;
  display: flex;
  gap: 20px;
}

.date-bar button {
  background: black;
  color: white;
  border: none;
  padding: 8px;
}

/* SCROLL BOX */
.task-wrapper {
  width: 350px;
  height: 600px;

  background: white;
  border-radius: 25px;
  padding: 15px;

  overflow: hidden;
}

.cards {
  height: 100%;
  overflow-y: auto;
}

/* TASK CARD */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  border-radius: 20px;
  margin-bottom: 15px;

  color: white;
  font-weight: 500;
}

/* TEXT */
.task-text {
  font-size: 16px;
}

/* TOGGLE BUTTON */
.toggle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(255,255,255,0.6);
  cursor: pointer;
}

.toggle.active {
  background: #4caf50;
}

/* COLORS */
.yellow {
  background: linear-gradient(45deg, #fbc02d, #fdd835);
}

.pink {
  background: linear-gradient(45deg, #ec407a, #f06292);
}

.green {
  background: linear-gradient(45deg, #66bb6a, #81c784);
}

.blue {
  background: linear-gradient(45deg, #42a5f5, #64b5f6);
}

.purple {
  background: linear-gradient(45deg, #7e57c2, #9575cd);
}

.pink2 {
  background: linear-gradient(45deg, #f06292, #ba68c8);
}