/* RESET (VERY IMPORTANT) */
body {
  margin: 0;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, #6a11cb, #d4145a);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
}

/* TOP (LOGO) */
.top {
  text-align: center;
}

/* LOGO TEXT */
.logo {
  font-size: 22px;
  font-weight: bold;
}

/* PROFILE SECTION (BOTTOM) */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
   margin-bottom: 10px;
}

/* PROFILE IMAGE */
.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 10px;
}

/* PROFILE ICON */
.profile-icon {
  font-size: 70px;
  margin-bottom: 10px;
}

/* NAME */
.name {
  font-size: 15px;
  font-weight: 600;
}

/* EMAIL */
.email {
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 12px;
}

/* LOGOUT BUTTON */
.logout-btn {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.2);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  cursor: pointer;
  transition: 0.3s;
}

/* HOVER EFFECT */
.logout-btn:hover {
  background: rgba(255, 255, 255, 0.35);
}